<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>635409391337-q892dhbl2popfn3u1hv6blsqj5a7htf4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.635409391337-q892dhbl2popfn3u1hv6blsqj5a7htf4</string>
	<key>API_KEY</key>
	<string>AIzaSyBpKuHIq1eHewwabVnQHMMDLpW8w0hjufE</string>
	<key>GCM_SENDER_ID</key>
	<string>635409391337</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.developer.mrwebbeast</string>
	<key>PROJECT_ID</key>
	<string>sahilranout</string>
	<key>STORAGE_BUCKET</key>
	<string>sahilranout.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:635409391337:ios:0440d706f7f9d9b343da78</string>
	<key>DATABASE_URL</key>
	<string>https://sahilranout-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>